html, body {
    height: 100%;
    margin: 0;
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
}

#c{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 0;
}

#canvasMsgBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 35vmin;
    height: 35vmin;
    border-style: solid;
    border-width: 0.4vmin;
    border-radius: 4vmin;
    border-color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vmin;
}

.hidden{
    visibility: hidden;
}

.shown{
    visibility: visible;
}

#endMsg{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}
#winnerMsg{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 2vmin;
}
#newGame{
    position: relative;
    top: 30%;
}
#time{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vmin;
    background-color:	#808080;
}

#inside-time{
    padding:10px;
}

.waiting{
    color: #5c262641;
}
.moving{
    color: #5c2626;
}
#clockDivision{
    color: #000000;
}

#infoBox{
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vmin;
    height: 50vmin;
    background-color: #ffffff;
    text-align: center;
    z-index: 1;
}

#btn-group button{
    position: relative;
    width: 50%;
    float: left;
    display: table;
}

#btn-group:after{ /*removes floats*/
    clear: both;
    display: table;
}
#notation-board{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 50%;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

#white-moves{
    float: left;
}

#black-moves{
    float: right;
    list-style-type: none;
}
#notation-board:after{
    clear: both;
    display: table;
}

#timeOption{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 1.5vmin;
}
#whiteTimeInput{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
}
#blackTimeInput{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
}

#welcomeElements{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vmin;
    color: #8a880f;
    display: block;
    height: 60vh;
    width: 50vh;
    align-content: center;
}

#firstGameWhiteClock{
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin:2.5px;
}
#firstGameBlackClock{
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin:2.5px;
}
#startFirstGame{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin:2.5px;
}

.replacement{
   display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.chose-pawn-replacement{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
}

h6{
    margin:10px;
}

#starting-times{
    width:80%;
    margin-left:10%;
}
